* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #2EC4B6;
}

body {
  background: linear-gradient(180deg, var(--bg-color), #9EB1E9);
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.form {
  background-color: #353f7b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 395px;
  width: 360px;
  padding: 30px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  color: #eee;
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-size: 18px;
  font-weight: 600;
  margin-top: 11px;
}

input {
  background-color: #8fa8cf;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 20px;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
  height: 53px;
  margin-top: 40px;
}

.button {
  height: 33px;
  width: 121px;
  background-color: rgb(94, 126, 178);
  border-radius: 10px;
  color: #eee;
  border: none;
  cursor: pointer;
  margin-top: 22px;
  font-size: 16px;
  padding-top: 3px;
}


/*Адаптивная верстка: */

@media (min-width: 1280px) {
  .form {
    height: 420px;
    width: 384px;
  }

  .title {
    font-size: 43.5px;
  }

  .subtitle {
    font-size: 19.5px;
    margin-top: 12px;
  }

  input {
    font-size: 21.5px;
    height: 60px;
  }

  .button {
    height: 36px;
    width: 132px;
    margin-top: 24px;
    font-size: 17px;
  }
}


@media (min-width: 768px) and (max-width: 1023px) {
  .form {
    height: 367.5px;
    width: 336px;
  }

  .title {
    font-size: 38px;
  }

  .subtitle {
    font-size: 17px;
    margin-top: 11px;
  }

  input {
    font-size: 19px;
    height: 52.5px;
  }

  .button {
    height: 31.5px;
    width: 116px;
    margin-top: 21px;
    font-size: 15px;
  }
}


@media (min-width: 600px) and (max-width: 767px) {
  .form {
    height: 385px;
    width: 352px;
  }

  .title {
    font-size: 40px;
  }

  .subtitle {
    font-size: 18px;
    margin-top: 11px;
  }

  input {
    font-size: 20px;
    height: 55px;
  }

  .button {
    height: 33px;
    width: 121px;
    margin-top: 22px;
    font-size: 15.5px;
  }
}


@media (min-width: 480px) and (max-width: 599px) {
  .form {
    height: 402.5px;
    width: 368px;
  }

  .title {
    font-size: 41.5px;
  }

  .subtitle {
    font-size: 18.5px;
    margin-top: 11.5px;
  }

  input {
    font-size: 21px;
    height: 57.5px;
  }

  .button {
    height: 34.5px;
    width: 126.5px;
    margin-top: 23px;
    font-size: 16px;
  }
}


@media (min-width: 320px) and (max-width: 479px) {
  .form {
    height: 420px;
    width: 290px;
  }

  .title {
    font-size: 43.5px;
  }

  .subtitle {
    font-size: 19.5px;
    margin-top: 12px;
  }

  input {
    font-size: 21.5px;
    height: 60px;
  }

  .button {
    height: 36px;
    width: 132px;
    margin-top: 24px;
    font-size: 17px;
  }
}