<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MessageApplication-login</title>
    <link rel="stylesheet" href="/login.css">
    <script src="/login.js"></script>
</head>

<body>
    <div class="form">
        <div class="title">Welcome</div>
        <div class="subtitle">Let's create your account!</div>
        <input type="text" id="name" placeholder="Enter your name" autocomplete="off" readonly />
        <button class="button" onclick="submitForm()">Submit</button>
    </div>
</body>

</html>